/* Soluzione qui */

/* modalità tablet */
@media screen and (min-width: 769px) {
    
    #topbar{
        justify-content: flex-start;
    }

    main{
        padding: 40px;
    }
    
    .recipe{
            .recipe-origin{
                display: inline;
            }

            .recipe-name{
                font-size: 2em;
            }
        
    }

    /* Le informazioni della ricetta sotto il video si dispongono a griglia. */
    .recipe-info .quick-notes{
        ul{
            display: flex;
            flex-wrap: wrap;

            li{
                width: 30%;
            }
        }
    }

    /* I bottoni social si allargano */
    .social-networks{ 
        gap: 10px;

        .btn{
            width: calc(100% / 5 - (10px * 4) / 5);
        }

    }

    /* compare il banner pubblicitario */
    .recipe .ads{
        display: block;
    }

    /* l'immagine nella descrizione della ricetta viene circondata dal testo */
    .recipe{

        .presentation img{
            /* display: inline-block; */
            float: left;
        }
    }

}

/* Modalità Desktop */
@media screen and (min-width: 993px){

    /* La grandezza del titolo della ricetta aumenta ancora di più, */
    .recipe-title .recipe-name{
        font-size: 2.5em;
    }

    /* Le informazioni della ricetta tornano a disporsi una sotto l'altra, */
    .recipe-info .quick-notes ul{
            display: block;
        
    }

    /* Il video e le altre informazioni della ricetta si dispongono uno accanto all'altro, */
    .recipe .recipe-card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .recipe-video{
            height: 40vw;
            flex-grow: 1;
        }
    }
    .recipe-info .quick-notes ul li{
        width: 100%;
    }

    /* Compaiono i nomi delle piattaforme social, */
    .social-networks .btn .label{
        display: inline;
    }

    /* Nel footer i dati del sito e il menu di navigazione si dispongono sulla stessa linea ma su lati opposti */
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}